/** TaskForm.css **/
.mb-4{
    background-color: white;
}
.form-group, .first-title, .btn-success {
    margin-bottom: 2rem;
    margin-left: 6rem;
    margin-right: 4rem;
    background-color: white;
  }
.first-title{
    text-decoration: none;
    color: inherit;
    
}
.btn-success{
    background-color: rgb(14, 14, 171);
    color: white;
    width: 25%;
    height: 25%;
    border-radius: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 2%;
}
.form-group{
    border: none;
    border-radius: 8px;
    height: 10px;
    width: 55rem;
    position: relative;
    margin-top: 4%;
    color: black solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

.form-control{
    margin-top: 2%;
}

.icon-button{
    position: absolute;
    margin-right: 15%;
    margin-bottom: 35%; 
    right: 15px; 
    border: none;
    background-color: white;
    font-size: x-large;
    color: black;
}

/* Ensure the page takes up full height */
.landing-page {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    background-color: #f2f7fd; /* Light background */
  }
  
  /* Styling for the text elements */
  h1, h2, h3, p {
    margin: 0;
    padding: 0;
  }
  
  h3 span {
    color: #007bff; /* Highlighted color for "Master" */
  }
  
  .btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  /* Circle design for the background elements */
  .circle {
    position: absolute;
    border-radius: 50%;
    background-color: #2979ff; /* Base blue color */
    z-index: -1;
  }
  
  .top-left {
    width: 400px;
    height: 400px;
    top: -150px;
    left: -150px;
  }
  
  .bottom-right.large {
    width: 600px;
    height: 600px;
    bottom: -200px;
    right: -200px;
  }
  
  .bottom-right.medium {
    width: 400px;
    height: 400px;
    bottom: -100px;
    right: -100px;
    background-color: #3d91ff;
  }
  
  .bottom-right.small {
    width: 200px;
    height: 200px;
    bottom: -50px;
    right: -50px;
    background-color: #5aa8ff;
  }
  